@import (less) 'pure-min.css';
@import 'vendorMixins.less';
@import 'font.less';
@import 'ngAnimate.less';

body {
	font-family: 'quicksandregular';
}

#bg {
	background: url('img/bg.jpg') no-repeat;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

#menu .pure-menu {
	overflow: hidden;
}

// override font
.pure-g-r [class*="pure-u"],
.pure-g {
	font-family: 'quicksandregular';
}

// view containers
.viewContainer {

	margin: 15px;
	padding: 5px;
	font-family: 'quicksandregular';
	border: 1px solid #999;
	border-radius: 4px;
	background: #fff;
	overflow: hidden;
}

.splash {
	text-align: center;
}

.label {
	text-align: right;
	padding: 0 10px;
	color: #777;
}

.weather-description {
	font-size: 20px;
}


//////
.icon-haze {
	display: inline-block;
	background-image: url('img/weathericons.png');
	background-position: 0 0;
	width: 70px;
	height: 75px;
}

.icon-celsius {
	display: inline-block;
	background-image: url('img/weathericons.png');
	background-position: 210px 75px;
	width: 70px;
	height: 75px;
}


.icon-cloudSun {
	display: inline-block;
	background-image: url('img/weathericons.png');
	background-position: -70px -75px;
	width: 70px;
	height: 75px;
}

.icon-clear {
	display: inline-block;
	background-image: url('img/weathericons.png');
	background-position: -70px 0;
	width: 70px;
	height: 75px;
}

.icon-clouds {
	display: inline-block;
	background-image: url('img/weathericons.png');
	background-position: -70px -150px;
	width: 70px;
	height: 75px;
}


.icon-rain {
	display: inline-block;
	background-image: url('img/weathericons.png');
	background-position: -350px -150px;
	width: 70px;
	height: 75px;
}

.icon-thunderstorm {
	display: inline-block;
	background-image: url('img/weathericons.png');
	background-position: -210px -150px;
	width: 70px;
	height: 75px;
}
