@import (less) 'pure-min.css';
@import 'font.less';

body {
	font-family: 'quicksandregular';
}


#menu {
	background: #191818;
	color: #fff;

}


// splashScreen
.viewContainer {

	padding: 15px;
	font-family: 'quicksandregular';
}
